@font-face {
    font-family: "vazir";
    src: url('./fonts/Vazir-Regular-FD.woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "vazir";
}

body {
    font-family: 'Courier New', Courier, monospace;
    direction: rtl;
    background-color: #181a1b;
    color: #fff;
}

.container {
    margin: 3rem auto;
    width: 700px;
    padding: 3rem 2rem;
    border-radius: 5px;
    box-shadow: 0 0 25px 5px rgb(0, 0, 0, 0.07);
}

.nav-links {
    text-align: center;
}

.nav-links ul {
    list-style: none;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    background-color: #222426;
    color: #fff;
    border-radius: 100px;
    padding: .3rem 2rem;
}

#app {
    padding: 3.5rem 3rem;
    line-height: 1.7rem;
}